html {
    height: 100%
}
body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
#navBar {
    background-color: rgb(224, 222, 224);
    -webkit-app-region: drag;
    -webkit-user-select: none;
    height: 25px;
    box-sizing: border-box;
}
#tabsBar {
    box-sizing: border-box;
    padding-left: 70px;
    height: 25px;
    background-color: rgb(180, 180, 180);
    -webkit-user-select: none;
}
#tabs {
    display: inline-block;
    width: calc(100% - 20px);
    margin: 0px;
    padding: 0px;
}
.tab {
    display: inline-block;
    text-indent: 0px;
    list-style: none;
    padding: 2px;
    border-right: 1px solid #888;
}
.selected {
    background-color:white;
}
.tab:first-child {
    border-left: 1px solid #888;
}
.tab a {
    text-decoration: none;
    color: #444;
}
#addTab {
    float: right;
    display: inline-block;
    width: 20px;
    box-sizing: border-box;
    cursor: default;
    border-left: 1px solid #666;
    text-align: center;
    color: #666;
    background-color: rgb(160, 160, 160);
    height: 100%;
}
webview{
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.tab_content {
    height: 100%;
}
#content {
  height: calc(100% - 25px - 25px);
}
input#url {
    width: 20em;
}
