html {
    height: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
    height: 100%;
}
.unselected {
    display:none; !important
}
#content {
    height: calc(100% - 30px - 25px - 0px);
}

.tab_content {
    height: 100%;
}

webview{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

#header {
    background: linear-gradient(to bottom, #eee, #ddd);
}