table#server-controls {
    flex-shrink: 0;
}
table#server-controls .nav-group-title {
    padding: 0px;
}
table#server-controls td {
    padding-left: 5px;
    padding-right: 0px;
    text-align: center;
    margin: auto;
}
table#server-controls tr:active {
    color: inherit;
    background-color: inherit;
    /* color: #fff; */
    /* background-color: #116cd6; */
}
table#server-controls #control_content td {
    padding-bottom: 10px;
}

#chat-box {
    resize: vertical;
    flex-grow: 1;
}

#chat-form {
    padding: 10px;
    flex-shrink: 0;
}
#chat-form .form-actions {
    text-align: right;
}

.copy_area input{
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    padding:2px;
    font-size: 0.9em;
    text-align: center;
    width: 90px;
}
.copy_area .icon {
    cursor: pointer;
    color: #AAA;
}
.copy_area .icon:hover {
    cursor: pointer;
    color: #999;
}

#chat-lines {
    padding: 10px;
    flex-grow: 2;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    margin: 0px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    white-space: pre-line;
    /*order: 1;*/
}

.chat-line {
    list-style-type: none;
    margin-top: 2px;
    padding-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #EEE;
    color: #555;
}
.chat-line.command {
    color: #AAA;
}

.sidebar {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat-lines .from {
    font-weight: bold;
    color: navy;
}
#chat-lines .from::after {
    content: ": ";
}

#task_title {
    color: #999;
    padding: 10px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-shrink: 0;
}
#task-name {
    padding-left: 5px;
}
#browser-pane {
    border-left: none;
}
