#buttonSpacer {
    width: 70px;
    /*border-bottom: 1px solid #AAA;*/
    /*background: linear-gradient(to bottom, #BBB 80%, #AAA);*/
}

#tabsBar {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-family: sans-serif;
    margin: 0px;
    /*padding: 0px 0px 0px 70px;*/
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    color: #777;
    /*height: 23px;*/
    box-sizing: border-box;
}

#tabsBar #addTab {
    display: inline-block;
    margin: 0;
    background: linear-gradient(to bottom, #BBB 80%, #AAA);
}

/*#tabsBar #addTab:hover {
    color: #fff;
    background: rgb(99, 190, 229);
}

#addTab i {
    font-size: 12.5px
}*/

#tabs {
    display: flex;
    flex: 1;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.tab {
    flex: 1;
    display: flex;
    border-left: 1px solid #AAA;
    /*border: 1px solid black;*/
    list-style: none;
    white-space: nowrap;
    /*font-size: 3em;*/
    border-bottom: 1px solid #aaa;
    color: #BBB;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab:last-child {
    border-right: 1px solid #AAA;
}
.tab.not-selected {
    background: linear-gradient(to bottom, #BBB 80%, #AAA);
}
.tab.not-selected .closeTab {
    color: #999;
}
.tab.selected {
    /*background: linear-gradient(to bottom, #e5e5e5 90%, #ddd);*/
    border-bottom: none;
    color: #777;
}

.tab .tab-img {
    opacity: 0.4;
}
.tab.selected .tab-img {
    opacity: 1.0;
    flex: 2;
}

.tab-img {
    height: 18px;
    max-width: 28px;
    margin: 2px;
    margin-right: 2px;
    display: none;
}

.tab-title {
    /*flex: 1;*/
    /*padding: 5px 0px 4px 3px;*/
}

.closeTab {
    /*float: right;*/
    /*color: red;*/
    /*text-shadow: 0 0 1px rgba(50, 1, 1, 1);*/
    padding: 5px;
}

.closeTab i {
    font-size: 12.5px
}

.closeTab:hover {
    background: rgb(245, 119, 119);
    color: #FFF;
}


.tab .tab-title {
    /*font-size: 5em;*/
    color: #777;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tab.selected .tab-title {
    color: #555;
}
