table#server-controls {
    flex-shrink: 0;
    .nav-group-title {
        padding: 0px;
    }
    thead td {
        text-align: center;
    }

    td {
        padding-left: 5px;
        padding-right: 0px;
        margin: auto;
        vertical-align: top;
    }
    tr {
        &:active {
            color: inherit;
            background-color: inherit;
            /* color: #fff; */
            /* background-color: #116cd6; */
        }
    }
    #control_content td {
        padding-bottom: 0px;
    }
    label {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}


.sidebar {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
}



.copy_area {
    input {
        background-color: #FAFAFA;
        border: 1px solid #CCC;
        padding:2px;
        font-size: 0.9em;
        text-align: center;
        width: 90px;
    }
    .copy_area .icon {
        cursor: pointer;
        color: #AAA;
        &:hover {
            color: #999;
        }
    }
}


#browser-pane {
    border-left: none;
}
