@import "./browser-tabs";
@import "./browser-sidebar";

// @import "../../utils/browserControls/ArboretumChat.scss";
html {
    height: 100%;

    .unselected {
        display: none;
    }
    #content {
        height: 100%;
        overflow: hidden;
    }


    .tab_content {
        height: 100%;
    }

    webview {
        display: inline-flex;
        width: 100%;
        height: 100%;

        &.hidden {
            display:none;
        }
    }
}
